<?xml version="1.0"?>
<launch>    
            <!-- preparing the robots model -->
            <param name="robot_description" textfile="$(find reachAlpha)/urdf/reachAlpha.urdf" />


            <!-- spawning robots model -->
            <node name = "reachalpha_spawn" 
                  pkg = "gazebo_ros" 
                  type = "spawn_model"
                  output = "screen"
                  args = "-urdf -param robot_description -model reachAlpha" />

            <!-- loading controllers -->
            <rosparam file="$(find reachAlpha)/config/joint_control.yaml" />

            <!-- specific controllers being used -->
            <node name = "controller" pkg = "controller_manager" type = "controller_manager"
                respawn = "false" output = "screen" ns = "reachAlpha"
                args = "spawn
                joint_state_controller
                joint_1_controller
                joint_2_controller
                joint_3_controller
                joint_4_controller" >
            </node>


</launch>